body {
  font-family: "PT Sans", sans-serif;
}

google-codelab {
  color: #b8b8b8;

  google-codelab-step {
    background-color: #262626;

    code,
    pre {
      background-color: #1f1f1f;
    }

    .instructions {
      border: none !important;
      box-shadow: none !important;

      a {
        color: #f46800 !important;
        text-decoration: none;

        &:active,
        &:visited {
          color: #f46800 !important;
        }

        &:hover {
          color: #ff8428 !important;
        }
      }

      .inner {
        background-color: #262626;
        border: none;
        box-shadow: none;
        font-size: 16px;
      }

      aside.special {
        background: #333333 !important;
        color: #b8b8b8 !important;
      }
    }
  }

  #codelab-title {
    background-color: black;
    box-shadow: 0 0 20px 0px black;
    color: #eaeaea;
  }

  #steps {
    background-color: #262626;
  }

  #controls {
    #previous-step {
      border-radius: 2px;
      border: 1px solid white;
      background: transparent;
      color: #eaeaea;
      font-weight: 400;
    }

    #next-step {
      border-radius: 2px;
      font-weight: 400;
      border: 1px solid #f46800;
      background: transparent;
      color: #f46800;
    }

    #done {
      color: #fefefe;
      background-color: #f46800;
      background: linear-gradient(#f46800, #c15200);
      border-radius: 2px;
      border: 1px solid #f46800;
      font-weight: 400;
    }
  }

  #drawer {
    .steps,
    .metadata {
      background-color: #333333;
    }

    ol li {
      a {
        background: linear-gradient(135deg, #2f2f2f 0%, #2c2c2c 100%);
        border: 1px solid #edf4ff;
        border-radius: 4px;
        border: none;

        &:focus {
          background: linear-gradient(135deg, #2a2a2a 0%, #272727 100%);
        }
      }

      &[completed] {
        a {
          color: #888888;
        }

        .step:before {
          background-color: #ff9830;
        }
      }

      &[selected] {
        a {
          color: #888888;
          background: linear-gradient(135deg, #2a2a2a 0%, #272727 100%);
        }
      }
    }
  }
}
